# Pandas Tutorial

In [2]:
import pandas as pd  #importing pandas

In [4]:
data = [10, 20, 30, 40, 50]          # series datastructure which is 1D   
series = pd.Series(data)

print("Series:")
print(series)

Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [6]:
data = {"Name":["John","Atharva","arya"],           # creating dataframe which is 2D
        "Age":[20,22,18],
        "Gender":["F","M","M"]}

df = pd.DataFrame(data)
print(df)

      Name  Age Gender
0     John   20      F
1  Atharva   22      M
2     arya   18      M

In [10]:
df = pd.read_csv(r"C:\Users\User\Desktop\study material\projects\datasets\car data using python\car data.csv")   # importing data from csv
print(df)

      Make                    Model   Type  Origin DriveTrain      MSRP  \
0    Acura                      MDX    SUV    Asia        All  $36,945
1    Acura           RSX Type S 2dr  Sedan    Asia      Front  $23,820
2    Acura                  TSX 4dr  Sedan    Asia      Front  $26,990
3    Acura                   TL 4dr  Sedan    Asia      Front  $33,195
4    Acura               3.5 RL 4dr  Sedan    Asia      Front  $43,755
..     ...                      ...    ...     ...        ...       ...
427  Volvo  C70 LPT convertible 2dr  Sedan  Europe      Front  $40,565
428  Volvo  C70 HPT convertible 2dr  Sedan  Europe      Front  $42,565
429  Volvo               S80 T6 4dr  Sedan  Europe      Front  $45,210
430  Volvo                      V40  Wagon  Europe      Front  $26,135
431  Volvo                     XC70  Wagon  Europe        All  $35,145

      Invoice  EngineSize  Cylinders  Horsepower  MPG_City  MPG_Highway  \
0    $33,337          3.5        6.0       265.0      17.0         23.0
1    $21,761          2.0        4.0       200.0      24.0         31.0
2    $24,647          2.4        4.0       200.0      22.0         29.0
3    $30,299          3.2        6.0       270.0      20.0         28.0
4    $39,014          3.5        6.0       225.0      18.0         24.0
..        ...         ...        ...         ...       ...          ...
427  $38,203          2.4        5.0       197.0      21.0         28.0
428  $40,083          2.3        5.0       242.0      20.0         26.0
429  $42,573          2.9        6.0       268.0      19.0         26.0
430  $24,641          1.9        4.0       170.0      22.0         29.0
431  $33,112          2.5        5.0       208.0      20.0         27.0

     Weight  Wheelbase  Length
0    4451.0      106.0   189.0
1    2778.0      101.0   172.0
2    3230.0      105.0   183.0
3    3575.0      108.0   186.0
4    3880.0      115.0   197.0
..      ...        ...     ...
427  3450.0      105.0   186.0
428  3450.0      105.0   186.0
429  3653.0      110.0   190.0
430  2822.0      101.0   180.0
431  3823.0      109.0   186.0

[432 rows x 15 columns]

In [14]:
pip install openpyxl           # use to import xlsx excel files using pandas

Requirement already satisfied: openpyxl in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [17]:
  # exploring data using pandas

print(df.head(10))         # print top 10 values of dataset
print(df.tail(10))         # print last 10 values of dataset

    Make                    Model    Type  Origin DriveTrain      MSRP  \
0  Acura                      MDX     SUV    Asia        All  $36,945
1  Acura           RSX Type S 2dr   Sedan    Asia      Front  $23,820
2  Acura                  TSX 4dr   Sedan    Asia      Front  $26,990
3  Acura                   TL 4dr   Sedan    Asia      Front  $33,195
4  Acura               3.5 RL 4dr   Sedan    Asia      Front  $43,755
5  Acura  3.5 RL w/Navigation 4dr   Sedan    Asia      Front  $46,100
6  Acura   NSX coupe 2dr manual S  Sports    Asia       Rear  $89,765
7   Audi              A4 1.8T 4dr   Sedan  Europe      Front  $25,940
8   Audi   A41.8T convertible 2dr   Sedan  Europe      Front  $35,940
9   Audi               A4 3.0 4dr   Sedan  Europe      Front  $31,840

    Invoice  EngineSize  Cylinders  Horsepower  MPG_City  MPG_Highway  Weight  \
0  $33,337          3.5        6.0       265.0      17.0         23.0  4451.0
1  $21,761          2.0        4.0       200.0      24.0         31.0  2778.0
2  $24,647          2.4        4.0       200.0      22.0         29.0  3230.0
3  $30,299          3.2        6.0       270.0      20.0         28.0  3575.0
4  $39,014          3.5        6.0       225.0      18.0         24.0  3880.0
5  $41,100          3.5        6.0       225.0      18.0         24.0  3893.0
6  $79,978          3.2        6.0       290.0      17.0         24.0  3153.0
7  $23,508          1.8        4.0       170.0      22.0         31.0  3252.0
8  $32,506          1.8        4.0       170.0      23.0         30.0  3638.0
9  $28,846          3.0        6.0       220.0      20.0         28.0  3462.0

   Wheelbase  Length
0      106.0   189.0
1      101.0   172.0
2      105.0   183.0
3      108.0   186.0
4      115.0   197.0
5      115.0   197.0
6      100.0   174.0
7      104.0   179.0
8      105.0   180.0
9      104.0   179.0
      Make                    Model   Type  Origin DriveTrain      MSRP  \
422  Volvo              S60 2.5 4dr  Sedan  Europe        All  $31,745
423  Volvo               S60 T5 4dr  Sedan  Europe      Front  $34,845
424  Volvo                S60 R 4dr  Sedan  Europe        All  $37,560
425  Volvo              S80 2.9 4dr  Sedan  Europe      Front  $37,730
426  Volvo             S80 2.5T 4dr  Sedan  Europe        All  $37,885
427  Volvo  C70 LPT convertible 2dr  Sedan  Europe      Front  $40,565
428  Volvo  C70 HPT convertible 2dr  Sedan  Europe      Front  $42,565
429  Volvo               S80 T6 4dr  Sedan  Europe      Front  $45,210
430  Volvo                      V40  Wagon  Europe      Front  $26,135
431  Volvo                     XC70  Wagon  Europe        All  $35,145

      Invoice  EngineSize  Cylinders  Horsepower  MPG_City  MPG_Highway  \
422  $29,916          2.5        5.0       208.0      20.0         27.0
423  $32,902          2.3        5.0       247.0      20.0         28.0
424  $35,382          2.5        5.0       300.0      18.0         25.0
425  $35,542          2.9        6.0       208.0      20.0         28.0
426  $35,688          2.5        5.0       194.0      20.0         27.0
427  $38,203          2.4        5.0       197.0      21.0         28.0
428  $40,083          2.3        5.0       242.0      20.0         26.0
429  $42,573          2.9        6.0       268.0      19.0         26.0
430  $24,641          1.9        4.0       170.0      22.0         29.0
431  $33,112          2.5        5.0       208.0      20.0         27.0

     Weight  Wheelbase  Length
422  3903.0      107.0   180.0
423  3766.0      107.0   180.0
424  3571.0      107.0   181.0
425  3576.0      110.0   190.0
426  3691.0      110.0   190.0
427  3450.0      105.0   186.0
428  3450.0      105.0   186.0
429  3653.0      110.0   190.0
430  2822.0      101.0   180.0
431  3823.0      109.0   186.0

In [19]:
print(df.info())      # gives info about data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Make         428 non-null    object
 1   Model        428 non-null    object
 2   Type         428 non-null    object
 3   Origin       428 non-null    object
 4   DriveTrain   428 non-null    object
 5   MSRP         428 non-null    object
 6   Invoice      428 non-null    object
 7   EngineSize   428 non-null    float64
 8   Cylinders    426 non-null    float64
 9   Horsepower   428 non-null    float64
 10  MPG_City     428 non-null    float64
 11  MPG_Highway  428 non-null    float64
 12  Weight       428 non-null    float64
 13  Wheelbase    428 non-null    float64
 14  Length       428 non-null    float64
dtypes: float64(8), object(7)
memory usage: 50.8+ KB
None

In [23]:
print(df.dtypes)        # gives the datatypes of each columns

Make            object
Model           object
Type            object
Origin          object
DriveTrain      object
MSRP            object
Invoice         object
EngineSize     float64
Cylinders      float64
Horsepower     float64
MPG_City       float64
MPG_Highway    float64
Weight         float64
Wheelbase      float64
Length         float64
dtype: object

In [25]:
print(df.describe())            # give all important values about data

       EngineSize   Cylinders  Horsepower    MPG_City  MPG_Highway  \
count  428.000000  426.000000  428.000000  428.000000   428.000000
mean     3.196729    5.807512  215.885514   20.060748    26.843458
std      1.108595    1.558443   71.836032    5.238218     5.741201
min      1.300000    3.000000   73.000000   10.000000    12.000000
25%      2.375000    4.000000  165.000000   17.000000    24.000000
50%      3.000000    6.000000  210.000000   19.000000    26.000000
75%      3.900000    6.000000  255.000000   21.250000    29.000000
max      8.300000   12.000000  500.000000   60.000000    66.000000

            Weight   Wheelbase      Length
count   428.000000  428.000000  428.000000
mean   3577.953271  108.154206  186.362150
std     758.983215    8.311813   14.357991
min    1850.000000   89.000000  143.000000
25%    3104.000000  103.000000  178.000000
50%    3474.500000  107.000000  187.000000
75%    3977.750000  112.000000  194.000000
max    7190.000000  144.000000  238.000000

In [27]:
print(df.isnull().sum())           # show sum of all null values in each column

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [32]:
print(df.duplicated().sum())      # show the duplicated values

3

## cleaning the null  and duplicated values

In [49]:
df.drop_duplicates(inplace=True)
print(df)                  # dropping the duplicated columns inplae=ce = true mean doing permanent changes on dataset

      Make                    Model   Type  Origin DriveTrain      MSRP  \
0    Acura                      MDX    SUV    Asia        All  $36,945
1    Acura           RSX Type S 2dr  Sedan    Asia      Front  $23,820
2    Acura                  TSX 4dr  Sedan    Asia      Front  $26,990
3    Acura                   TL 4dr  Sedan    Asia      Front  $33,195
4    Acura               3.5 RL 4dr  Sedan    Asia      Front  $43,755
..     ...                      ...    ...     ...        ...       ...
427  Volvo  C70 LPT convertible 2dr  Sedan  Europe      Front  $40,565
428  Volvo  C70 HPT convertible 2dr  Sedan  Europe      Front  $42,565
429  Volvo               S80 T6 4dr  Sedan  Europe      Front  $45,210
430  Volvo                      V40  Wagon  Europe      Front  $26,135
431  Volvo                     XC70  Wagon  Europe        All  $35,145

      Invoice  EngineSize  Cylinders  Horsepower  MPG_City  MPG_Highway  \
0    $33,337          3.5        6.0       265.0      17.0         23.0
1    $21,761          2.0        4.0       200.0      24.0         31.0
2    $24,647          2.4        4.0       200.0      22.0         29.0
3    $30,299          3.2        6.0       270.0      20.0         28.0
4    $39,014          3.5        6.0       225.0      18.0         24.0
..        ...         ...        ...         ...       ...          ...
427  $38,203          2.4        5.0       197.0      21.0         28.0
428  $40,083          2.3        5.0       242.0      20.0         26.0
429  $42,573          2.9        6.0       268.0      19.0         26.0
430  $24,641          1.9        4.0       170.0      22.0         29.0
431  $33,112          2.5        5.0       208.0      20.0         27.0

     Weight  Wheelbase  Length
0    4451.0      106.0   189.0
1    2778.0      101.0   172.0
2    3230.0      105.0   183.0
3    3575.0      108.0   186.0
4    3880.0      115.0   197.0
..      ...        ...     ...
427  3450.0      105.0   186.0
428  3450.0      105.0   186.0
429  3653.0      110.0   190.0
430  2822.0      101.0   180.0
431  3823.0      109.0   186.0

[429 rows x 15 columns]

In [50]:
print(df.dropna())                   # dropping the null values

      Make                    Model   Type  Origin DriveTrain      MSRP  \
0    Acura                      MDX    SUV    Asia        All  $36,945
1    Acura           RSX Type S 2dr  Sedan    Asia      Front  $23,820
2    Acura                  TSX 4dr  Sedan    Asia      Front  $26,990
3    Acura                   TL 4dr  Sedan    Asia      Front  $33,195
4    Acura               3.5 RL 4dr  Sedan    Asia      Front  $43,755
..     ...                      ...    ...     ...        ...       ...
427  Volvo  C70 LPT convertible 2dr  Sedan  Europe      Front  $40,565
428  Volvo  C70 HPT convertible 2dr  Sedan  Europe      Front  $42,565
429  Volvo               S80 T6 4dr  Sedan  Europe      Front  $45,210
430  Volvo                      V40  Wagon  Europe      Front  $26,135
431  Volvo                     XC70  Wagon  Europe        All  $35,145

      Invoice  EngineSize  Cylinders  Horsepower  MPG_City  MPG_Highway  \
0    $33,337          3.5        6.0       265.0      17.0         23.0
1    $21,761          2.0        4.0       200.0      24.0         31.0
2    $24,647          2.4        4.0       200.0      22.0         29.0
3    $30,299          3.2        6.0       270.0      20.0         28.0
4    $39,014          3.5        6.0       225.0      18.0         24.0
..        ...         ...        ...         ...       ...          ...
427  $38,203          2.4        5.0       197.0      21.0         28.0
428  $40,083          2.3        5.0       242.0      20.0         26.0
429  $42,573          2.9        6.0       268.0      19.0         26.0
430  $24,641          1.9        4.0       170.0      22.0         29.0
431  $33,112          2.5        5.0       208.0      20.0         27.0

     Weight  Wheelbase  Length
0    4451.0      106.0   189.0
1    2778.0      101.0   172.0
2    3230.0      105.0   183.0
3    3575.0      108.0   186.0
4    3880.0      115.0   197.0
..      ...        ...     ...
427  3450.0      105.0   186.0
428  3450.0      105.0   186.0
429  3653.0      110.0   190.0
430  2822.0      101.0   180.0
431  3823.0      109.0   186.0

[426 rows x 15 columns]

In [51]:
print(df.fillna(method= "bfill"))       # fill the value below the na value

      Make                    Model   Type  Origin DriveTrain      MSRP  \
0    Acura                      MDX    SUV    Asia        All  $36,945
1    Acura           RSX Type S 2dr  Sedan    Asia      Front  $23,820
2    Acura                  TSX 4dr  Sedan    Asia      Front  $26,990
3    Acura                   TL 4dr  Sedan    Asia      Front  $33,195
4    Acura               3.5 RL 4dr  Sedan    Asia      Front  $43,755
..     ...                      ...    ...     ...        ...       ...
427  Volvo  C70 LPT convertible 2dr  Sedan  Europe      Front  $40,565
428  Volvo  C70 HPT convertible 2dr  Sedan  Europe      Front  $42,565
429  Volvo               S80 T6 4dr  Sedan  Europe      Front  $45,210
430  Volvo                      V40  Wagon  Europe      Front  $26,135
431  Volvo                     XC70  Wagon  Europe        All  $35,145

      Invoice  EngineSize  Cylinders  Horsepower  MPG_City  MPG_Highway  \
0    $33,337          3.5        6.0       265.0      17.0         23.0
1    $21,761          2.0        4.0       200.0      24.0         31.0
2    $24,647          2.4        4.0       200.0      22.0         29.0
3    $30,299          3.2        6.0       270.0      20.0         28.0
4    $39,014          3.5        6.0       225.0      18.0         24.0
..        ...         ...        ...         ...       ...          ...
427  $38,203          2.4        5.0       197.0      21.0         28.0
428  $40,083          2.3        5.0       242.0      20.0         26.0
429  $42,573          2.9        6.0       268.0      19.0         26.0
430  $24,641          1.9        4.0       170.0      22.0         29.0
431  $33,112          2.5        5.0       208.0      20.0         27.0

     Weight  Wheelbase  Length
0    4451.0      106.0   189.0
1    2778.0      101.0   172.0
2    3230.0      105.0   183.0
3    3575.0      108.0   186.0
4    3880.0      115.0   197.0
..      ...        ...     ...
427  3450.0      105.0   186.0
428  3450.0      105.0   186.0
429  3653.0      110.0   190.0
430  2822.0      101.0   180.0
431  3823.0      109.0   186.0

[429 rows x 15 columns]

In [46]:
print(df.fillna(method= "ffill"))       # fill the value above the na value

      Make                    Model   Type  Origin DriveTrain      MSRP  \
0    Acura                      MDX    SUV    Asia        All  $36,945
1    Acura           RSX Type S 2dr  Sedan    Asia      Front  $23,820
2    Acura                  TSX 4dr  Sedan    Asia      Front  $26,990
3    Acura                   TL 4dr  Sedan    Asia      Front  $33,195
4    Acura               3.5 RL 4dr  Sedan    Asia      Front  $43,755
..     ...                      ...    ...     ...        ...       ...
427  Volvo  C70 LPT convertible 2dr  Sedan  Europe      Front  $40,565
428  Volvo  C70 HPT convertible 2dr  Sedan  Europe      Front  $42,565
429  Volvo               S80 T6 4dr  Sedan  Europe      Front  $45,210
430  Volvo                      V40  Wagon  Europe      Front  $26,135
431  Volvo                     XC70  Wagon  Europe        All  $35,145

      Invoice  EngineSize  Cylinders  Horsepower  MPG_City  MPG_Highway  \
0    $33,337          3.5        6.0       265.0      17.0         23.0
1    $21,761          2.0        4.0       200.0      24.0         31.0
2    $24,647          2.4        4.0       200.0      22.0         29.0
3    $30,299          3.2        6.0       270.0      20.0         28.0
4    $39,014          3.5        6.0       225.0      18.0         24.0
..        ...         ...        ...         ...       ...          ...
427  $38,203          2.4        5.0       197.0      21.0         28.0
428  $40,083          2.3        5.0       242.0      20.0         26.0
429  $42,573          2.9        6.0       268.0      19.0         26.0
430  $24,641          1.9        4.0       170.0      22.0         29.0
431  $33,112          2.5        5.0       208.0      20.0         27.0

     Weight  Wheelbase  Length
0    4451.0      106.0   189.0
1    2778.0      101.0   172.0
2    3230.0      105.0   183.0
3    3575.0      108.0   186.0
4    3880.0      115.0   197.0
..      ...        ...     ...
427  3450.0      105.0   186.0
428  3450.0      105.0   186.0
429  3653.0      110.0   190.0
430  2822.0      101.0   180.0
431  3823.0      109.0   186.0

[432 rows x 15 columns]

## column transformation using pandas

In [64]:
import pandas as pd

# Sample DataFrame
data = {
    'Make': ['Toyota', 'Honda', 'Ford'],
    'Model': ['Camry', 'Civic', 'Focus']
}
df = pd.DataFrame(data)

# Concatenate 'Make' and 'Model' into a new column 'full_name'
df['full_name'] = df['Make'] + ' ' + df['Model']

# Print the DataFrame
print(df)

     Make  Model     full_name
0  Toyota  Camry  Toyota Camry
1   Honda  Civic   Honda Civic
2    Ford  Focus    Ford Focus

In [66]:


# Sample DataFrame
data = {
    'EngineSize': [2.5, 3.2, 2.8, 3.5, 3.0],
    'engine': ['Unknown'] * 5
}
df = pd.DataFrame(data)

# Update 'engine' based on 'EngineSize'
df.loc[df['EngineSize'] < 3.0, 'engine'] = 'Small engine'
df.loc[df['EngineSize'] > 3.0, 'engine'] = 'Big engine'

# Print the first 5 rows of the DataFrame
print(df.head(5))

   EngineSize        engine
0         2.5  Small engine
1         3.2    Big engine
2         2.8  Small engine
3         3.5    Big engine
4         3.0       Unknown

## Groupby in pandas

In [69]:
df = pd.read_csv(r"C:\Users\User\Desktop\study material\projects\datasets\car data using python\car data.csv") 
df.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0

In [74]:
gp = df.groupby('Make').agg({'DriveTrain': 'count'})        # grouping my car brand 

print(gp)

               DriveTrain
Make
Acura                   7
Audi                   19
BMW                    20
Buick                   9
Cadillac                8
Chevrolet              27
Chrysler               15
Dodge                  13
Ford                   23
GMC                     8
Honda                  17
Hummer                  1
Hyundai                12
Infiniti                8
Isuzu                   2
Jaguar                 12
Jeep                    3
Kia                    11
Land Rover              3
Lexus                  11
Lincoln                 9
MINI                    2
Mazda                  11
Mercedes-Benz          26
Mercury                 9
Mitsubishi             13
Nissan                 17
Oldsmobile              3
Pontiac                11
Porsche                 7
Saab                    7
Saturn                  8
Scion                   2
Subaru                 11
Suzuki                  8
Toyota                 28
Volkswagen             15
Volvo                  12

In [78]:
gp = df.groupby('Make').agg({'Weight': 'mean'})        # grouping my car brand by mean of weigth column

print(gp)

                    Weight
Make
Acura          3565.714286
Audi           3700.631579
BMW            3611.350000
Buick          3757.666667
Cadillac       4363.625000
Chevrolet      3640.222222
Chrysler       3534.333333
Dodge          3638.769231
Ford           3748.913043
GMC            4731.375000
Honda          3101.000000
Hummer         6400.000000
Hyundai        2930.000000
Infiniti       3741.000000
Isuzu          4401.500000
Jaguar         3821.750000
Jeep           3730.333333
Kia            3167.909091
Land Rover     4510.666667
Lexus          3909.000000
Lincoln        4323.666667
MINI           2601.000000
Mazda          2980.909091
Mercedes-Benz  3851.923077
Mercury        3908.444444
Mitsubishi     3358.153846
Nissan         3618.058824
Oldsmobile     3326.333333
Pontiac        3440.909091
Porsche        3328.142857
Saab           3441.428571
Saturn         2908.125000
Scion          2382.500000
Subaru         3339.363636
Suzuki         2977.875000
Toyota         3277.285714
Volkswagen     3663.200000
Volvo          3592.500000

In [79]:
gp = df.groupby('Make').agg({'MSRP': 'max','Invoice': 'min'})        # grouping my car brand by max of msrp and min of invoice

print(gp)

                   MSRP    Invoice
Make
Acura          $89,765    $21,761
Audi           $84,600    $23,508
BMW            $73,195    $26,155
Buick          $40,720    $20,351
Cadillac       $76,200    $28,575
Chevrolet      $51,535    $10,965
Chrysler       $38,380    $16,919
Dodge          $81,795    $12,849
Ford           $41,475    $12,482
GMC            $46,265    $14,877
Honda          $33,260    $12,175
Hummer         $49,995    $45,815
Hyundai        $26,189    $10,107
Infiniti       $52,545    $26,157
Isuzu          $31,849    $19,261
Jaguar         $86,995    $27,355
Jeep           $27,905    $18,973
Kia            $26,000    $10,705
Land Rover     $72,250    $23,969
Lexus          $64,800    $27,404
Lincoln        $52,775    $29,969
MINI           $19,999    $15,437
Mazda          $28,750    $14,070
Mercedes-Benz  $94,820   $113,388
Mercury        $34,495    $19,848
Mitsubishi     $33,112    $13,751
Nissan         $34,390    $12,205
Oldsmobile     $28,790    $17,642
Pontiac        $35,995    $14,375
Porsche        $84,165   $173,560
Saab           $43,175    $29,269
Saturn         $23,560    $10,319
Scion          $14,165    $12,340
Subaru         $31,545    $18,399
Suzuki         $23,699    $12,116
Toyota         $54,765    $10,144
Volkswagen     $75,000    $17,427
Volvo          $45,210    $23,701

 ## merge join and concat

In [81]:
import pandas as pd

# Create the first DataFrame
df1 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David']
})

# Create the second DataFrame
df2 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Age': [25, 30, 35, 40]
})

In [84]:
print(pd.merge(df1,df2, on = "ID"))          # merging data on basis of common ID column      you can use how = left , right , inner to perfom joins

   ID     Name  Age
0   1    Alice   25
1   2      Bob   30
2   3  Charlie   35
3   4    David   40

In [87]:
print(pd.concat([df1,df2]))          # concatinate the datas

   ID     Name   Age
0   1    Alice   NaN
1   2      Bob   NaN
2   3  Charlie   NaN
3   4    David   NaN
0   1      NaN  25.0
1   2      NaN  30.0
2   3      NaN  35.0
3   4      NaN  40.0

## comparing data frames

In [88]:
import pandas as pd

# Create two DataFrames
df1 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40]
})

df2 = pd.DataFrame({
    'ID': [1, 2, 3, 5],
    'Name': ['Alice', 'Bob', 'Charles', 'Eve'],
    'Age': [25, 31, 35, 45]
})

In [90]:
print(df1.compare(df2)) # compare the values bettween 2 dfs

    ID           Name            Age
  self other     self    other  self other
1  NaN   NaN      NaN      NaN  30.0  31.0
2  NaN   NaN  Charlie  Charles   NaN   NaN
3  4.0   5.0    David      Eve  40.0  45.0

In [91]:
are_equal = df1.equals(df2)
print("DataFrames are equal:", are_equal)

DataFrames are equal: False

## END